#app1 {
    display: inline-block;
    padding: 10px;
    font-size: x-large;
    background-color: lightgreen;
}

#app2 > div {
    border: solid black 1px;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#app2 img {
    width: 70px;
    margin: 10px;
}